<input type="text" #txt>

<button (click)="getVal(txt)">search</button>

<select (change)="selectChangeHandler($event)">
    <option value="Select level">Search By</option>
    <option value="Fived">Five Digit Code</option>
    <option value="Class">Class</option>
    <option value="Group">Group</option>
    <option value="Division">Division</option>
    <option value="Section">Section</option>
</select>

<div *ngIf="searchBy === 'Fived'">
    <div *ngFor="let fived of fived">
        <p>
            <button (click)="fiveDDetails()"> {{ fived.fived }}</button>
            :- {{ fived.description }}
        </p>
    </div>
</div>

<div *ngIf="searchBy === 'Class'">
    <div *ngFor="let class of class">
        <p>
            <button> {{ class.class }} </button>
            :- {{ class.description }}
        </p>
    </div>
</div>

<div *ngIf="searchBy === 'Group'">
    <div *ngFor="let group of group">
        <p>
            <button> {{ group.group }} </button>
            :- {{ group.description }}
        </p>
    </div>
</div>

<div *ngIf="searchBy === 'Division'">
    <div *ngFor="let division of division">
        <p>
            <button> {{ division.division }} </button>
            :- {{ division.description }}
        </p>
    </div>
</div>

<div *ngIf="searchBy === 'Section'">
    <div *ngFor="let section of section">
        <p>
            <button> {{ section.section }} </button>
            :- {{ section.description }}
        </p>
    </div>
</div>