button{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.navbar{
    margin: 1rem;
    margin-top: 4rem;
    justify-content: space-between;
    width: 97%;
}

span {
    padding-right: 1rem;
}

#title{
    margin: 0;
    padding-top: 3rem;
    text-align: center;
    color: rgb(250, 250, 250);
}

#search{
    text-align:center;
    color: rgb(255, 255, 255);
    padding-right: 3rem;
    margin-top: 3rem;
}

#icon{
    margin-right: 1rem;
}
#back{
    height: 100%;
    color:#fff;
    background-image: url("src/assets/1.png");
    background-size: cover;
}

#login{
    text-align: right;
    margin-right: 10rem;
}
mat-sidenav, mat-sidenav-content{
    height: 100%;
    margin-right: 3rem;
    padding: 16px;
}
mat-card{
    margin-left: 3rem;
    margin-right: 3rem;
}
