* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Acme, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0;
}

.btn {
  display: inline-block;
  border: none;
  background: rgb(14, 88, 226);
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}